extends layout.pug
block scripts 

block style 
    link(rel="stylesheet", href="/static/CSS/about.css")

block content
    .container 
        .heading 
            h1 About Wrapstick Restaurant
            p Welcome to Wrapstick, we serve halal food with a twist. Our mission is to provide delicious, high-quality meals that cater to the diverse tastes of our community.    