extends layout.pug 
block style 
    link(rel="stylesheet", href="/static/home.css")
block content
    section#home-1 
        h1 Welcome to Wrapstick Restaurant
        p We serve the best wraps in town!