extends layout.pug 
block style 
    link(rel="stylesheet", href="/static/home.css")
block content
    #home-1 
        .hh 
            h1 Welcome to Wrapstick
            p We serve the best food in town! With a menu desinged to satisfy all your cravings.

    