doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title meow 
        link(rel="stylesheet", href="/static/navbar.css")
        block style 
    body 
        section#navbar 
            ul
                li 
                    a(href="/") Home
                li 
                    a(href="/Menu") Menu
                li 
                    a(href="/contact") Order 
        block content
        footer#footer 
            p © Wrapstick Restaurant. All rights reserved.