extends layout.pug 

block style 
    link(rel="stylesheet", href="/static/order.css")
block content
    div#order
        h1 Order online 
        p We are happy to serve you!
        p Please select your items from the menu and place your order online.
        
