*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* logo */
#logo{
    padding-bottom: 20px;
    z-index: 1;
}
#logo img{
    width: 65px;
    height: 65px;
    border-radius: 10px;
    /* border: 2px solid rgb(255, 255, 255); */
    float: right;
    margin: 20px;
}
/* Navbar */
#navbar{
    font-family: "Tektur", sans-serif;
    background-color: rgb(58, 5, 25);
    color: rgb(236, 250, 229);
    z-index: 1;
    position:relative
}
#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    text-align: left;
    padding: 20px;
}
#navbar li{
    list-style: none;
}
#navbar li a{
    text-decoration: none;
    padding: 5px 30px;
    color: rgb(236, 250, 229);
    font-size: 1.4rem;
}
#navbar li a:hover{
    color: rgb(228, 249, 41);
}
/* Footer  */
#footer{
    height: 20px;
    background-color: rgb(58, 5, 25);
    color:rgb(236, 250, 229);
    text-align: center;

}