#home-1{
    height: 700px;
}
#home-1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("images/home-img.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}
#home-1 h1{
    color: rgb(236, 250, 229);
    font-size: 2em;
    text-align: center;

}
#home-1 p{
    color: rgb(236, 250, 229);
    font-size: 1.2em;
    text-align: center;
}
