#home-1{
    background-color: rgb(202, 232, 189);
}
h1{
    color: rgb(221, 246, 210);
    font-size: 2em;
    text-align: center;

}
p{
    color: rgb(221, 246, 210);
    font-size: 1.2em;
    text-align: center;
}